.pic {
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: row;

}

.left {
    display: flex;
    flex-direction: column;
    background-image: url(images/pic.jpg);
    width: 33.3%;
    min-width: 600px;
    min-height: 1500px;
   
    
}

.right {
    width:66.6%;
}

footer {
    display: flex;
    margin-top: auto;
    color: #fff;
    font-weight: bold;
    justify-content: center;
}

.logo {
    background-color: rgba(0, 0, 0, .5);in-content;
    color: #fff;
    margin-top: 300px;
}

p {
    font-weight: bold;
    font-size: x-large;
}
img{
    height: 100px;
    width: 200px
}
.logo-pic{
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-name{
    font-family: footer-font;
    font-size: 50px;
}
.footer-content{
    font-weight: normal;
}

.right-top{
    padding-top: 250px;
   
    background-color: lavender;
}
.right-middle{
    flex-grow: 1;
}
.right-bottom{
    flex-grow:1;
}
.name{
    display: flex;
}
.first-name{
    display: flex;
    flex-direction: column;
}
.last-name{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
}
.email{
    display: flex;
    flex-direction: column;
}
.number{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
}
.initial-password{
    display: flex;
    flex-direction: column;
}
.confirm-password{
    display: flex;
    flex-direction: column;
}
